/* General styles for the login page */
.login-section {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(#110253, #000216);
  }
  
  .login-background-panel {
    background-color: rgba(46, 3, 87, 0.288);  /* Dark background with opacity */
    position: absolute;
    border: 0.5px solid rgba(255, 255, 255, 0.274);
    bottom: 0;
    width: 40vw;
    align-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-inline: 2%;
    height: 70vh;
    
  }


  .container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  
  
  
  .title {
    color: rgb(255, 255, 255); /* Title color */
    font-size: 24px;
    font-weight:normal;
    text-align: left;
  }
  
  .form {
    color: aliceblue;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .form .formcontent {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .input-field {
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  
  }
  
  .input-field:focus {
    border-color: #3498db;  /* Focus effect */
  }
  
 .form .button {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    background-color: #0b0d6d;  /* Login button color */
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .form .button:hover {
    background-color: #2980b9;  /* Hover effect */
  }
  
  .forgot-password,
  .sign-up {
    color: #5dd6f5;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
  }
  
  .forgot-password:hover,
  .sign-up:hover {
    text-decoration: underline;
  }
  
 .loginwith .button,
  .loginwith .button {
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    margin-top: 30px;
    border-radius: 4px;
    width: 100%;
  }
  
 .loginwith .button {
    background-color: #5432ec;  /* Google button color */
    color: white;
  }
  
  
  @media (max-width: 480px) {
    .login-background-panel {
      min-width: 90%;
      padding-inline: 2%;
    }
  
    .form {
      width: 100%; /* Form takes full width on mobile */
    }
  
    .input-field {
      font-size: 14px;
    }
  }
  